.container {
  position: absolute;
  z-index: var(--tl-layer-panels);
  padding: var(--tl-space-2);
  background-color: var(--tl-color-panel);
  border-radius: var(--tl-radius-2);
  box-shadow: var(--tl-shadow-1);
}

.toolbar {
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .toolbar {
    max-width: 300px;
  }

  .toolbar > button {
    width: 30px !important;
    height: 30px !important;
  }
}

.toolbar > * + * {
  margin-left: var(--tl-space-1);
}

.right-aside {
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  box-shadow: none;
}

.right-aside__content {
  display: flex;
  align-items: center;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  margin-right: var(--tl-space-5);
}

.tab-buttons > * + * {
  margin-top: var(--tl-space-1);
}

.tab-buttons,
.tab-contents {
  padding: var(--tl-space-2);
  background-color: var(--tl-color-panel);
  border-radius: var(--tl-radius-2);
  box-shadow: var(--tl-shadow-1);
}

.tab-contents {
  width: 280px;
  height: 350px;
  overflow: hidden;
}

.tab-contents:not([data-isactive="true"]) {
  display: none;
}
